fastapi
uvicorn
groq
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu
PyPDF2
sentence-transformers
python-dotenv
numpy
python-multipart
pydantic[email]
supabase
pypdf



